﻿<div *ngIf="restaurant">
  <h1>Restaurace - {{restaurant.name}}</h1>
  <div class="row">
    <div *ngIf="restaurant.menus.length > 0" class="col-md-12">
      <div *ngFor="let menu of restaurant.menus">
        <h2>{{menu.name}} - {{menu.date | date:'d.M.y'}}</h2>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of menu.items;let i = index">
            {{i + 1}}. {{item.name}} {{item.price}} {{item.currency}}
          </li>
        </ul>
      </div>
    </div>
    <p *ngIf="restaurant.menus.length == 0">
      Nebylo nalezeno žádné menu!
    </p>
    <a class="btn btn-lg" (click)="goBack()">Zpět</a>
  </div>
</div>

