﻿<div *ngIf="restaurant">
  <div class="row">
    <div class="col-6 col-lg-11">
      <h2>Editace: {{restaurant.name}}</h2>
    </div>
    <div class="col-6 col-lg-1">
      <a class="btn btn-default" (click)="goBack()">Zpět</a>
    </div>
  </div>
  <div class="col-12 col-lg-12" *ngIf="flashMessage">
    <div class="alert alert-info">
      {{flashMessage}}
    </div>
  </div>
  <div class="row">
    <div *ngIf="restaurant.menus">
      <div *ngFor="let menu of restaurant.menus" class="col-md-6">
        <h3>{{menu.name}}</h3>
        <form name="form" (ngSubmit)="menuform.form.valid && save(menuform)" #menuform="ngForm" novalidate>
          <input type="hidden" name="menuId" [ngModel]="menu.id" />
          <div class="form-group">
            <label for="name">Název</label>
            <input type="text" [(ngModel)]="menu.name" name="name" #name="ngModel" class="form-control" id="name" placeholder="Název menu" required>
            <div *ngIf="!name.valid" class="help-block">Název je povinný</div>
          </div>
          <div class="form-group">
            <label class="form-check-label">
              <input class="form-check-input" [(ngModel)]="menu.isValid" #isValid="ngModel" type="checkbox" name="isValid"> Platné
            </label>
          </div>
          <div class="form-group">
            <label for="date">Datum</label>
            <input type="date" class="form-control" [ngModel]="menu.date | date:'yyyy-MM-dd'" (ngModelChange)="menu.date = $event" name="date" [value]="menu.date | date:'yyyy-MM-dd'">
          </div>
          <h3>Položky menu</h3>
          <ul *ngFor="let item of menu.items;let i = index;" class="list-group custom-list">
            <li class="list-group-item" [class.active]="item === selectedMenuItem" (click)="onSelectMenuItem(item,menu)">{{i+1}}. {{item.name}} {{item.price}}{{item.currency}}</li>
          </ul>
          <div *ngIf="selectedMenuItem && selectedMenu.id == menu.id">
            <input type="hidden" name="menuItemId" [ngModel]="selectedMenuItem.id" />
            <div class="col-6 col-lg-2">
              <input type="text" class="form-control" [ngModel]="selectedMenuItem.id" name="id" #id="ngModel" disabled="disabled" placeholder="Název">
            </div>
            <div class="col-6 col-lg-5">
              <input type="text" class="form-control" [(ngModel)]="selectedMenuItem.name" #itemName="ngModel" name="itemName" placeholder="Název" required>
            </div>
            <div class="col-6 col-lg-5">
              <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                <input type="text" class="form-control" [(ngModel)]="selectedMenuItem.price" #itemPrice="ngModel" name="itemPrice" placeholder="Cena" required>
                <div class="input-group-addon">Kč</div>
              </div>
            </div>
          </div>
          <div class="row">            
            <div class="col-3 col-lg-3">              
              <button class="btn btn-lg btn-primary btn-block" [disabled]="!menuform.form.valid" type="submit">Uložit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <p *ngIf="restaurant.menus.length == 0">
      Nebylo nalezeno žádné menu!
    </p>
  </div>

</div>