﻿<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right" *ngIf="adminUser">
      <li><p class="navbar-text">Přihlášen: {{adminUser.username}}</p></li>
    </ul>
</div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>

