﻿<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Název</th>
      <th>Počet menu</th>
      <th>Akce</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let restaurant of restaurants">
      <td>{{restaurant.id}}</td>
      <td>{{restaurant.name}}</td>
      <td>{{restaurant.menus.length}}</td>
      <td>
        <a class="btn btn-primary" [routerLink]="['./edit',restaurant.id]" role="button">Edit</a>
      </td>
    </tr>
  </tbody>
</table>