﻿
  <form class="form-signin" name="form" (ngSubmit)="loginform.form.valid && login(loginform)" #loginform="ngForm" novalidate>
    <div class="alert alert-warning" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
    <h2 class="form-signin-heading">Přihlásit se</h2>
    <label for="inputUser" class="sr-only">Uživatel</label>
    <input type="text" id="inputUser" name="username" [(ngModel)]="adminUser.username" #username="ngModel" class="form-control" placeholder="Uživatel" required autofocus>
    <div *ngIf="loginform.submitted && !username.valid" class="help-block">Username is required</div>

    <label for="inputPassword" class="sr-only">Heslo</label>
    <input type="password" name="password" id="inputPassword" [(ngModel)]="adminUser.password" #password="ngModel" class="form-control" placeholder="Heslo" required>
    <div *ngIf="loginform.submitted && !password.valid" class="help-block">Password is required</div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Přihlásit</button>
  </form>

