﻿<h1>Restaurace - meníčka dnes: {{date | date:'d.M.y'}}</h1>

<div class="row">
  <div class="col-3 col-lg-3">
    <input type="date" class="form-control" (ngModelChange)="dateChange($event)" [ngModel]="date | date:'yyyy-MM-dd'" name="date" [value]="date | date:'yyyy-MM-dd'" required>
  </div>
  <div class="col-3 col-lg-3">
    <button (click)="clearStorage()" class="btn btn-default">Clear cache</button>
  </div>
</div>

<div class="row">
  <div *ngFor="let restaurant of restaurants;let p = index">
    <div class="clearfix" *ngIf="p % 3 == 0"></div>
    <div class="col-6 col-lg-4">
      <h2>{{restaurant.name}}</h2>
      <div *ngIf="restaurant.menus.length > 0">    
          <ul class="list-group" *ngFor="let menu of restaurant.menus">
            <li class="list-group-item" *ngFor="let item of menu.items;let i = index">{{i + 1}}. {{item.name}} {{item.price}} {{item.currency}} </li>
          </ul> 
      </div>
      <p *ngIf="restaurant.menus.length == 0">
        Nebylo nalezeno žádné menu pro tento den!
      </p>
      <a class="btn btn-secondary" [routerLink]="['/detail',restaurant.id]" role="button">Detail »</a>
    </div>
  </div>
</div>